################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConvertingToC/v15
/.vs/PBDWithOpenACC/v15
*.filters
*.user
